In [1]:
givenStr = "python";
givenStr = givenStr.replace('h','');
givenStr = givenStr.replace('o','');
print(givenStr[::-1]);

ntyp

In [2]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Addition : ",a + b)
print("Multiplication : ",a * b)
print("Subtraction : ",a - b)
print("Division : ",a / b)

Enter first number: 3
Enter second number: 5
Addition :  8
Multiplication :  15
Subtraction :  -2
Division :  0.6

In [6]:
str = "I love playing with python"
str = str.replace('python', 'pythons')
print(str)

I love playing with pythons

In [4]:
print("Enter Marks Obtained in : ");

markOne = int(input())

if markOne <= 100:

    if markOne>=90 and markOne<=100:

        print("Your Grade is A")

    elif markOne>=80 and markOne<89:

        print("Your Grade is B")

    elif markOne>=70 and markOne<79:

        print("Your Grade is C")

    elif markOne>=60 and markOne<69:

        print("Your Grade is D")

    else:

        print("Your Grade is F")

else:

    print("Invalid Input!")

Enter Marks Obtained in :
92
Your Grade is A